<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p align = center>
  Hey, I just met you and this is crazy<br>
  But here's my number, so call me maybe<br>
  It's hard to look right at you baby<br>
  But here's my number, so call me maybe<br>
  Hey I just met you and this is crazy<br>
  But here's my number, so call me maybe<br>
  And all the other boys try to chase me<br>
  But here's my number, so call me maybe<br>
</p>
