<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Current Tasks</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<div class="center jumbotron">
  <h1>CVWO Assignment: To-do app</h1>

  <h2>
    <ul>
      <li>Name : <i>Ang Wei Neng</i></li>
      <li>Matriculation No. : <i>A0164178X</i></li>
    </ul>
  </h2>

  <%= link_to "Create your account now!", signup_path, class: "btn btn-lg btn-success" %>

</div>
<% end %>
