<% provide(:title, 'Administrators') %>
<h1>Administrators</h1>


<ul class="users">
  <% @users.each do |user| %>
  <li>
    <% if user.admin?%>
    <%= gravatar_for user, size: 50 %>
    <%= link_to user.name, user %> <br>
    <%= user.email %>
  <% end %>
  </li>
  <% end %>
</ul>
