<footer class="footer">
  <small>
    A to-do app</a>
    by <a href="http://www.weineng.me/">Ang Wei Neng</a> for
    <a href = "http://www.comp.nus.edu.sg/~vwo/">CVWO</a>,
    based on the rails tutorial guide by
    <a href = "https://www.railstutorial.org/book">Michael Hartl</a>.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
  <br>

  <br><br>
  <p align = center>
  <%= link_to image_tag("bleong.jpg", alt: "Ben"),
            'http://comp.nus.edu.sg/~bleong' %>
            <br>Add task responsibly. Sauron's watching.</p>
</footer>
